<div class="scratch-card-bg" *ngIf="vectorType === 'scratch-cards'">
    <div class="scratch-top">
        <span>SETTING NEW STANDARDS</span>
    </div>
    <div class="grid">
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
    </div>
</div>

<div class="poker-cards" *ngIf="vectorType === 'dice'">
    <div class="card card1"></div>
    <div class="card card2"></div>
    <div class="card card3"></div>
    <div class="card card4"></div>
</div>
